form{
    margin-top: 5%;
    background-color: #F5F5F5;
    border: 0.5px solid #E3E3E3;
    padding-top: 10px;
    border-radius: 10px;
    margin-left: 30%;
    align: center;
    width: 500px;
    height: 200px;

}

