/*
    #####################################################################
    ############################# GENERIQUE #############################
    #####################################################################
*/


html{
	height: 100%;
	--color-green: #A0D233;
	--color-yellow: #FFFCBC;
	--color-brown: #8B4513;
	--color-black: #000000;
	--color-red: #C51B10;
	--color-white: #FFF;
}

body{
	display: table;
	width: 100%;
	height: 100%;
	font-family: "MV Boli", "cursive";
	font-size: 14px;
	background-image:radial-gradient(white, #A0D233);
}

h1{
	display: block;
	font-size: 48px;
	font-family: "MV Boli", "cursive";
	color: var(--color-black);
	text-align: center;
	margin-bottom: 15px;
}
h1:first-letter{
	color: var(--color-black);
}
q{
	font-size: 28px;
}
p a{
	font-size: 28px;
}
a{
	color: var(--color-brown);
	transition-duration: 0.5s;
}
a:hover{
	color: var(--color-brown);
	text-decoration: none;
	transition-duration: 0.5s;
}
.bg-green{
	background: var(--color-green);
}
.bg-yellow{
	background: var(--color-yellow);
}
.color-red{
	color: var(--color-red);
}
.amb-border{
	border-bottom: 2px dashed var(--color-red);
}
.row-eq-height{
	display: flex;
}

/*
    #####################################################################
    ################################ MENU ###############################
    #####################################################################
*/

#nav-login{
	background: var(--color-green) !important;
	color: var(--color-white) !important;
}
#nav-main{
	background: var(--color-white) !important;
	color: var(--color-black) !important;
	border-bottom: 1px solid #D3D2D2;
	padding-top: 10px;
	padding-bottom: 10px;
}
nav .navbar-brand{
	font-size: 28px;
}
nav .navbar-brand>span{
	color: var(--color-green);
}
nav .navbar-brand>img{
	display: inline;
}
.navbar{
	min-height: 0px;
	margin: 0px;
}
.navbar-default{
	border: none;
}
.navbar-default .navbar-nav>li>a:hover{
	background: var(--color-green);
	color: var(--color-white);
}
nav ul{
	margin: 0px;
}
nav li:not(.divider){
	list-style-type: none;
	display: inline-block;
	font-size: 18px;
	padding: 5px 10px;
}
nav li a{
	color: var(--color-green);
}


/*
    #####################################################################
    ############################### ARTICLE ##############################
    #####################################################################
*/

article{
	margin-bottom: 20px;
}
article > .container-fluid{
	margin-bottom: 20px;
}


/*
    #####################################################################
    ############################### FOOTER ##############################
    #####################################################################
*/

footer{
	background: var(--color-yellow);
	color: var(--color-brown);
	box-shadow: 0 0 3px #444;
}
footer #footer-link{
	background: #2d2d2d;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #989494;
}
footer #footer-link ul{
	margin-left: -20px;
}
footer #footer-link li{
	list-style-type: none;
}
footer #footer-link a{
	color: #989494;
}
footer #footer-link a:hover{
	color: var(--color-green);
}
footer #footer-copyright{
	background: var(--color-green);
	padding-top: 3px;
	padding-bottom: 3px;
	color: var(--color-white);

}
footer #footer-copyright a{
	color: var(--color-white);
}
footer #footer-copyright a:hover{
	color: var(--color-brown);
}
footer h4{
	color: var(--color-white);
}


/*
    #####################################################################
    ############################### DIVERS ##############################
    #####################################################################
*/

/* FOOTER FIXED BOTTOM */
.page-row{
	display: table-row;
	height: 1px;
}
.page-row-expanded{
	height: 100%;
}


/*
    #####################################################################
    ######################### FACEBOOK & TWITTER ########################
    #####################################################################
*/
.btn-facebook{
	padding: 5px 20px;
	background: #3b5998;
	color: #FFF;
	border: 2px solid #3b5998;
}
.btn-facebook:hover{
	background: #FFF;
	color: #3b5998;
}

.btn-twitter{
	padding: 5px 20px;
	background: #1b95e0;
	color: #FFF;
	border: 2px solid #1b95e0;
}
.btn-twitter:hover{
	background: #FFF;
	color: #1b95e0;
}


/*
    #####################################################################
    ############################### ACCUEIL #############################
    #####################################################################
*/
.bulle{
	padding: 50px 40px;
	text-align: center;
	color: var(--color-black);
	background: var(--color-yellow);
	border-radius: 220px / 120px;
	box-shadow: 0 0 5px rgba(160, 210, 51, .5);
}
.bulle p {
	font-size:1.25em;
}
.bulle a:hover{
	color: var(--color-green);
}