/*
    #####################################################################
    ############################# GENERIQUE #############################
    #####################################################################
*/

html{
	height: 100%;
}
body{
	display: table;
	width: 100%;
	height: 100%;
}

/*
    #####################################################################
    ############################### DIVERS ##############################
    #####################################################################
*/

/* FOOTER FIXED BOTTOM */
.page-row{
	display: table-row;
	height: 1px;
}
.page-row-expanded{
	height: 100%;
}