<div class="form-group row">
	<div id="ambigussbundle_game_reponses___name__">
		<div class="col-md-2 col-md-offset-2">
			<label class="control-label required" for="ambigussbundle_game_reponses___name___glose">__glose__</label>
		</div>
		<div class="col-md-4">
			<select id="ambigussbundle_game_reponses___name___glose" name="ambigussbundle_game[reponses][__name__][glose]" class="form-control"></select>
		</div>
		<div class="col-md-2 addGloseLink">
		</div>
		<input type="hidden" id="ambigussbundle_game_reponses___name___idMotAmbiguPhrase" name="ambigussbundle_game[reponses][__name__][idMotAmbiguPhrase]" class="idMotAmbiguPhrase"/>
	</div>
</div>