{% extends 'base.html.twig' %}

{% block title %}Erreur 500{% endblock %}
{% block titre %}<h1>Erreur 500</h1>{% endblock %}
{% block contenu %}

	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
			<div class="bulle">
				<span class="text-danger">Désolé, il y a une erreur de notre côté.</span><br><br>
				Merci de <a href="{{ path('contact_show') }}">nous contacter</a> et de nous indiquer quelques informations comme :
				<ul class="not-list">
					<li>- la page demandée</li>
					<li>- la date et l'heure</li>
					<li>- la dernière action effectuée</li>
				</ul>
			</div>
		</div>
	</div>

{% endblock %}
