{% extends 'base.html.twig' %}

{% block title %}Creation de phrase{% endblock %}

{% block contenu %}
	<h3>Creation de phrase</h3>

	{% if pasConnect is defined %}
		{{ pasConnect }}
	{% else %}
		{{ form(formMot) }}

	{% endif %}


{% endblock %}