<div class='form-group'>
	<div id='phrase_add_motsAmbigusPhrase___name__' class="row row-eq-height">
		<div class='col-md-2'>
			<label class='control-label required' for='phrase_add_motsAmbigusPhrase___name___valeur'>Mot ambigu</label>
			<input type='text' id='phrase_add_motsAmbigusPhrase___name___valeur' name='phrase_add[motsAmbigusPhrase][__name__][valeur]' required='required' placeholder='Mot ambigu' class='amb form-control' readonly='true' />
		</div>
		<div class='col-md-2'>
			<label class='control-label required' for='phrase_add_motsAmbigusPhrase___name___gloses'>Choisissez la glose associée</label>
			<select id="phrase_add_motsAmbigusPhrase___name___gloses"
					name="phrase_add[motsAmbigusPhrase][__name__][gloses]" class="form-control gloses">
			</select>
		</div>
		<div class='col-md-2'>
			<label class='control-label required' for='phrase_add_motsAmbigusPhrase___name___poidsReponse'>Choississez le poids de cette glose</label>
			{{ form_widget(form.children.poidsReponse.vars.form)}}
		</div>
		<div class='col-md-2 deleteLink addGloseLink'>

		</div>
	</div>
</div>
