<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>Ambiguss Admin | {% block title %}{% endblock %}</title>
	{% block css %}{% endblock %}
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}">
</head>
<body>
	<h1>{% block titre %}Accueil administration{% endblock %}</h1>
	{% block contenu %}{% endblock %}

	{% block js %}{% endblock %}
</body>
</html>

