<h4><b>Comment sont calculés les points ?</b></h4>La formule du calcul des points et des crédits est la suivante :<br><span class="text-primary">
	Pourcentage de votes de la glose choisie. Quand la phrase comporte plusieurs mots ambigus, on additionne ces pourcentages.
</span><br><br><b>Exemple :</b><br>Un <b class="color-red" title="Ce mot est ambigu">avocat</b> mange des
<b class="color-red" title="Ce mot est ambigu">avocats</b>.
<br>Imaginons que l'on réponde "métier" pour "avocat" et que cette glose corresponde à 80% des réponses et que l'on réponde "fruit" pour "avocats" et que cette glose corresponde à 95% des réponses.
<br><br>Le calcul est donc : 80 + 95 = 175.<br>Vous gagnerez alors 175 points et 175 crédits.<br>
<hr>
<div class="alert alert-info">
	Vous pouvez réouvrir ce message à l'aide du bouton "INFO" situé en bas à droite de la page.
</div>