{% extends 'theme2.html.twig' %}

{% block title %}À propos{% endblock %}

{% block contenu %}
	<h1>À propos</h1>
	<p>
		Ambiguss est un site web réalisé dans le cadre d'un TER (Travail d'Étude et de Recherche) de master informatique.<br>
		Il permet de produire des corpus de phrases annontées sémantiquement, perettant ainsi d'identifier le sens
		correct d'un mot.
		<!-- PAS DE NOM SVP -->
	</p>
	<p>
		Le site est actuellement dans sa version : ... (toujours en développement)
	</p>
{% endblock %}