{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block titre %}<h1>Bienvenue sur Ambiguss</h1>{% endblock %}
{% block contenu %}

	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
			<div class="bulle">
				<h3><q> Un avocat se retrouve par terre </q><br/></h3>
				<h4> Parle-t-on du fruit, de l'homme ou d'autre chose ?</h4>
				<h4>À vous de le découvrir ;)<br/></h4>
				<h2><a href="{{ path('ambiguss_game') }}">Jouer</a></h2>
			</div>
		</div>
	</div>

{% endblock %}