{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block titre %}<h1>Bienvenue sur Ambiguss</h1>{% endblock %}
{% block contenu %}

	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
			<div class="bulle">
				<p><q> Un avocat se retrouve par terre </q><br/></p>
				<p> Parle-t-on du fruit, de l'homme ou d'autre chose ?</p>
				<p>À vous de le découvrir ;)<br/></p>
				<p> <a href="{{ path('app_accueil') }}">Jouer</a></p> {# en attendant le path app_play#}
			</div>
		</div>
	</div>

{% endblock %}