{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block titre %}<h1>Bienvenue sur Ambiguss</h1>{% endblock %}
{% block contenu %}

	<div class="row">
		<div class="col-xs-12 col-sm-10 col-md-6 col-sm-offset-1 col-md-offset-3">
			<div class="bulle">
				<h3><q> Un <b class="color-red">avocat</b> se retrouve par terre </q><br/></h3>
				<h4>Parle-t-on du fruit, de l'homme ou d'autre chose ?</h4>				<br>
				<h4>À vous de choisir en mettant le sens qui vous semble le plus approprié ;)</h4>				<br>
				<h2><a href="{{ path('ambiguss_game') }}">Jouer</a></h2>

				{% for label, messages in app.flashes(['info']) %}
                    {% for message in messages %}
						<div class="alert alert-{{ label }} alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
                            {{ message|raw }}
						</div>
                    {% endfor %}
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}
