{% extends 'base.html.twig' %}

{% block title %}Conditions{% endblock %}
{% block titre %}Conditions d'utilisation{% endblock %}

{% block contenu %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="bulle">
				<p>...</p>
			</div>
		</div>
	</div>
{% endblock %}