{% extends 'base.html.twig' %}

{% block title %}Mentions{% endblock %}
{% block titre %}Mentions légales{% endblock %}

{% block contenu %}
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="bulle">
				<h3>Responsable légal</h3>
				<p>
					Alexandre Culty<br>
				</p>
				<hr>
				<h3>Hébergement</h3>
				<p>
					Le nom de domaine est enregistré auprès de la société <a href="https://www.ovh.com">OVH</a>.<br>
					Le serveur est hébergé par la société <a href="https://www.firstheberg.com">FirstHeberg</a>.
				</p>
				<hr>
				<h3>Données personnelles</h3>
				<p>
					Les données personnelles collectées par Ambiguss sont uniquement destinées à un usage interne.<br>
					En aucun cas ces données ne seront communiquées ou vendues à des tiers.<br>
					Conformément à la loi "Informatique et libertés" du 6 janvier 1978 modifiée en 2004, vous bénéficiez d’un droit d’accès et de
					rectification aux informations qui vous concernent, que vous pouvez exercer en utilisant le
					<a href="{{ path('app_contact') }}">formulaire de contact</a>.<br>
					Vous pouvez également, pour des motifs légitimes, vous opposer au traitement des données vous concernant.
				</p>
				<hr>
				<h3>Cookies</h3>
				<p>
					Un cookie est un fichier texte enregistré sur un terminal (ordinateur, tablette, téléphone, etc).<br>
					Les cookies sont utiles pour faciliter la personnalisation de votre accès à nos services en ligne. Ils peuvent être utilisés pour
					une authentification, une session, stocker une information spécifique comme les préférences sur un site ou le contenu d'un panier
					d'achat électronique.<br>
					Le stockage des cookies se fait par le biais du navigateur Web utilisé par l’internaute.<br>
				</p>
				Deux types de cookies peuvent être utilisés sur Ambiguss :
				<ul>
					<li class="not-list"><b>Les cookies techniques</b> : nécessaires à la navigation sur notre site, ainsi qu’à l’accès
						aux différents services. Ils permettent de vous reconnaître, d'adapter la présentation, la langue, etc. La
						désactivation ou le paramétrage de ceux-ci sont impossible, sans quoi l'accès au site risque de ne plus être
						viable.</li>
					<li class="not-list"><b>Les cookies de réseaux sociaux</b> : permettent de partager, aimer des contenus de notre
						site sur vos réseaux sociaux comme Facebook, Twitter, etc. Même si vous n'utilisez pas ces fonctionnalités, ces
						sites sont susceptible de vous identifier. Pour en savoir plus à propos de l'utilisation qui est réalisée par ces
						sites, nous vous invitons à consulter les politiques de protection de la vie privée de ceux-ci.
					</li>
				</ul>
				<hr>
				<h3>Contenus et outils</h3>
				<p>
					Ambiguss ne propose aucune garantie quant à la fiabilité ou au fonctionnement de ce service.<br>
					Ambiguss ne peut en aucun cas être tenu pour responsable de tous dommages quels qu'ils soient, y
					compris	mais non de façon limitative, des dommages directs, indirects, accessoires ou incidents, des pertes de bénéfices ou de l'interruption d'activité, résultant de l'utilisation ou de l'impossibilité d'utilisation de ce service.
				</p>
			</div>
		</div>
	</div>

{% endblock %}