{% extends 'base.html.twig' %}

{% block title %}Export{% endblock %}
{% block titre %}<h1>Export</h1>{% endblock %}
{% block contenu %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="bulle">
				Ambiguss met à disposition les données que nous récupérons sous forme de fichier JSON.<br>
				Il existe plusieurs types d'export qui répondent à différents besoins.<br><br>
				<img src="{{ asset('save.png') }}" alt="" /> <a   target = '_blank' href="{{ asset('export_data.json') }}">Toutes les phrases</a><br><br>
				<img src="{{ asset('save.png') }}" alt="" /> <a  target = '_blank'  href="#">Tous les mots ambigus</a><br><br>
				<img src="{{ asset('save.png') }}" alt="" /> <a  target = '_blank'  href="#">Toutes les gloses</a><br><br>

			</div>
			</div>
	</div>

{% endblock %}