{% extends 'base.html.twig' %}

{% block title %}Export{% endblock %}
{% block titre %}<h1>Export</h1>{% endblock %}
{% block contenu %}

	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="bulle">
				Ambiguss met à disposition les données que nous récupérons sous forme de fichier JSON.<br>
				Il existe plusieurs types d'export qui répondent à différents besoins.<br><br>
				<img src="{{ asset('save.png') }}" alt="" /> <a   target = '_blank' href="{{ asset('downloads/export_data.json') }}" download>Toutes les phrases</a><br><br>
				<img src="{{ asset('save.png') }}" alt="" /> <a  target = '_blank'  href="{{ asset('downloads/export_ma_data.json') }}" download>Tous les mots ambigus</a><br><br>

			</div>
			</div>
	</div>

{% endblock %}