{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block titre %}Inscription{% endblock %}

{% block contenu %}
    <div class="row">
        <div class="col-xs-12 col-sm-10 col-md-4 col-sm-offset-1 col-md-offset-4 well">
            Inscription réussie, veuillez cliquer sur le lien de confirmation envoyé par email.
        </div>
    </div>
{% endblock %}