<h4>
	<b>Comment créer une phrase ?</b>
	<a class="btn btn-primary btn-sm" role="button" data-toggle="collapse" href="#toggleCreerPhrase" aria-expanded="false" aria-controls="toggleCreerPhrase">
		Afficher/cacher
	</a>
</h4>
<div class="collapse" id="toggleCreerPhrase">
	<ol>
		<li>Écrivez votre phrase complète dans le champ dédié.</li>
		<li>
			Sélectionnez le premier mot ambigu, et cliquez sur le bouton "Rendre le mot sélectionné ambigu".<br>
			Cela a pour effet de rendre le mot rouge en mode visuel ou d'entourer le mot par les balises amb en mode texte.<br>
			Cela crée aussi une nouvelle ligne dans le formulaire afin que vous puissiez choisir la glose de ce mot ambigu.
		</li>
		<li>Choisissez une glose* pour ce mot ambigu.</li>
		<li>Répétez les points 2 et 3 pour chaque mot ambigu de votre phrase.</li>
		<li>
			Enfin, appuyez sur le bouton "Créer la phrase".<br>
			Vous aurez alors 5 minutes pour la modifier avant qu'elle ne soit mise en jeu et jouable.
		</li>
	</ol>
	<span class="text-info">
		Si vous vous êtes trompé pour un mot ambigu, vous pouvez le supprimer à l'aide du bouton "Supprimer le mot ambigu".<br>
		Si aucune glose ne vous est proposée, ou que celles-ci ne vous satisfassent pas, vous pouvez en ajouter avec le bouton "Ajouter une glose".
	</span><br><br>
	<div class="alert alert-info">
		La création d'une phrase<br>
		<b>coûte</b>
		<ul>
			<li>{{ costCreatePhraseByMotAmbiguCredits }} crédits par mot ambigu</li>
		</ul>
		<b>rapporte</b>
		<ul>
			<li>{{ gainPerLikePhrasePoints }} points par like</li>
			<li>{{ gainPercentByGame }}% des points qu'un joueur gagne en la jouant (points et crédits).</li>
		</ul>
	</div>
</div>
<hr>
{{ include('@App/InfosModal/gloses.html.twig') }}
<hr>
<div class="alert alert-info">
	Vous pouvez réouvrir ce message à l'aide du bouton "INFO" situé en bas à droite de la page.
</div>
