<h4><b>Comment éditer une phrase ?</b></h4><span class="text-info">
	Comme pour la création de phrase, l'ordre des id n'a pas d'importance.<br>
	Les modifications sur la phrase qui ne touchent pas un mot ambigu ne posent aucun problème.
</span><br><br>
<div class="alert alert-danger">
	<b>TRÈS IMPORTANT :</b><br>
	<b>Ajout</b> d'un mot mot ambigu : celui-ci doit avoir un id supérieur à ceux déjà existants dans la phrase de départ.<br>
	<b>Suppression</b> d'un mot ambigu : il suffit de cliquer sur le bouton de suppression correspondant.<br>
	<b>Modification</b> d'un mot ambigu : si les gloses ne changent pas trop (avocat/avocats), vous pouvez
	éditer le mot ambigu en veillant à ce que l'id ne change pas. Par contre, si ce n'est plus les mêmes gloses (rune/brune), il
	faut supprimer le mot ambigu et le recréer.<br>
</div><span class="text-info">
	En cas d'erreur, vous pouvez réinitialiser le formulaire en actualisant la page.
</span><br>
<hr>
<div class="alert alert-info">
	Vous pouvez réouvrir ce message à l'aide du bouton "INFO" situé en bas à droite de la page.
</div>