<h4><b>Comment éditer une phrase ?</b></h4>
<span class="text-info">
	Les modifications sur la phrase qui ne touchent pas un mot ambigu ne posent aucun problème.
</span><br><br>
<div class="alert alert-danger">
	<b>TRÈS IMPORTANT :</b><br>
	<b>Ajout</b> d'un mot mot ambigu : celui-ci doit avoir un id supérieur à ceux déjà existants dans la phrase de départ.<br>
	<b>Suppression</b> d'un mot ambigu : il suffit de cliquer sur le bouton de suppression correspondant.<br>
	<b>Modification</b> d'un mot ambigu : <br>
	- <b>s'il ne change pas trop (avocat/avocats), éditez-le directement</b>, afin de conserver les réponses tout en restant cohérent.<br>
	- <b>si ce n'est plus le même (rune/brune), supprimez-le et recréez-le</b>, afin de supprimer les réponses et éviter de rendre les données incohérentes.
</div>
<span class="text-info">
	En cas d'erreur, vous pouvez réinitialiser le formulaire en actualisant la page.
</span><br>
<hr>
<div class="alert alert-info">
	Vous pouvez réouvrir ce message à l'aide du bouton "INFO" situé en bas à droite de la page.
</div>
