html{
    --color-green: #A0D233;
    --color-yellow: #FFFCBC;
    --color-brown: #8B4513;
    --color-black: #000000;
    --color-red: #C51B10;
    --color-white: #FFF;
}

.green{
    color: #A0D233;
}
.count{
    font-size: 34px;
    font-weight: bold;
    color: #8B4513;
}
hr {
    border-top: 1px solid #A0D233;
}
.panel-green {
    border-color: #A0D233;
}
.panel-green>.panel-heading {
    color: #fff;
    background-color: #A0D233;
    border-color: #A0D233;
    font-size: 20px;
}
amb {
    color: var(--color-red);
    font-weight: bold;
}
.size18{
    font-size: 18px;
}
.clrb {
    clear: both;
}
