/*
    #####################################################################
    ############################# GENERIQUE #############################
    #####################################################################
*/


html{
	height: 100%;
	position: relative;
	--color-green: #A0D233;
	--color-yellow: #FFFCBC;
	--color-brown: #8B4513;
	--color-black: #000000;
	--color-red: #C51B10;
	--color-white: #FFF;
}

body{
	height: 100%;
	display: flex;
	flex-flow: column;
	font-family: "MV Boli", "cursive";
	font-size: 14px;
	background-image:radial-gradient(white, #A0D233);
}

h1{
	display: block;
	font-size: 48px;
	font-family: "MV Boli", "cursive";
	color: #000;
	color: var(--color-black);
	text-align: center;
	margin-bottom: 15px;
}
a{
	color: #8B4513;
	color: var(--color-brown);
	transition-duration: 0.5s;
}
a:hover{
	color: #8B4513;
	color: var(--color-brown);
	text-decoration: none;
	transition-duration: 0.5s;
}
.bg-green{
	background: #A0D233;
	background: var(--color-green);
}
.bg-yellow{
	background: #FFFCBC;
	background: var(--color-yellow);
}
.color-red{
	color: #C51B10;
	color: var(--color-red);
}
.color-green{
	color: #A0D233;
	color: var(--color-green);
}
.color-gold{
	color: gold;
}
.row-eq-height{
	display: flex;
}
.ui-autocomplete-loading, .loading{
	background: url('../images/loading.gif') no-repeat right center;
	background-size: 20px 20px;
}
.not-list{
	list-style-type: none;
}
*::selection{
	background: #A0D233;
	background: var(--color-green);
	color: #FFF;
}
hr{
	border-top: 1px solid var(--color-green);
}
thead, tfoot{
	background: #A0D233;
	background: var(--color-green);
}
.size16{
	font-size: 16px;
}
.size18{
	font-size: 18px;
}
.size20{
	font-size: 20px;
}
.size22{
	font-size: 22px;
}
.size24{
	font-size: 24px;
}
.vcenter {
	display: flex;
	align-items: center;
}
label.control-label.required::after{
	content: ' *';
	color: red;
}


/*
    #####################################################################
    ############################### LOADER ##############################
    #####################################################################
*/
#loading{
	margin: 0 auto 10px;
	display: block;
	width: 32px;
	height: 32px;
}
#inloading{
	margin-left: 5px;
	width: 24px;
	height: 24px;
}

/*
    #####################################################################
    ################################ MENU ###############################
    #####################################################################
*/
.navbar-brand{
	padding: 0 15px;
	height: 100%;
}
#nav-main{
	background: #FFF !important;
	background: var(--color-white) !important;
	color: #FFF !important;
	color: var(--color-black) !important;
	border-bottom: 1px solid #D3D2D2;
	padding-top: 10px;
	padding-bottom: 10px;
}
nav .navbar-brand{
	font-size: 28px;
}
nav .navbar-brand>span{
	color: #A0D233;
	color: var(--color-green);
}
nav .navbar-brand>img{
	display: inline;
}
.navbar{
	min-height: 0px;
	margin: 0px;
}
.navbar-default{
	border: none;
}
.navbar-default .navbar-nav>li>a:hover{
	background: #A0D233;
	background: var(--color-green);
	color: #FFF;
	color: var(--color-white);
}
nav ul{
	margin: 0px;
}
nav li:not(.divider){
	list-style-type: none;
	display: inline-block;
	font-size: 20px;
	padding: 5px 10px;
}
nav ul.coDecoMenu li a{
	color: #A0D233;
	color: var(--color-green);
}
nav ul.coDecoMenu li a:hover{
	color: #8B4513;
}
nav ul.coDecoMenu li a:not(.linkCoMenu){
	display: block;
	padding: 10px 0;
}


/*
    #####################################################################
    ############################### ARTICLE ##############################
    #####################################################################
*/

article{
	margin-bottom: 20px;
}
article > .container-fluid{
	margin-bottom: 20px;
}


/*
    #####################################################################
    ############################### FOOTER ##############################
    #####################################################################
*/

footer{
	margin-top: auto;
	color: #8B4513;
	color: var(--color-brown);
	box-shadow: 0 0 3px #444;
}
footer #footer-link{
	background: #2d2d2d;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #989494;
}
footer #footer-link ul{
	margin-left: -20px;
}
footer #footer-link li{
	list-style-type: none;
}
footer #footer-link a{
	color: #989494;
}
footer #footer-link a:hover{
	color: #A0D233;
	color: var(--color-green);
}
footer #footer-copyright{
	padding-top: 3px;
	padding-bottom: 3px;
	color: #FFF;
	color: var(--color-white);
}
footer #footer-copyright a{
	color: #FFF;
	color: var(--color-white);
}
footer #footer-copyright a:hover{
	color: #8B4513;
	color: var(--color-brown);
}
footer h4{
	color: #FFF;
	color: var(--color-white);
}


/*
    #####################################################################
    ############################### DIVERS ##############################
    #####################################################################
*/

/* FOOTER FIXED BOTTOM */
button.infobulle{
	border: none;
	background: none;
}
button.infobulle img{
	width: 100px;
}
@media (max-width: 768px){
	.text-left-xs{
		text-align: left;
	}
	.row-eq-height{
		display: block;
	}
}
.classementMe{
	text-align: center;
}
.classementMe > span{
	color: var(--color-red);
	font-weight: bold;
}
.classementTableMe{
	background: #FFFCBC !important;
	font-weight: bold;
}
.badge{
	background: #f0ad4e;
}
amb {
	color: var(--color-red);
	font-weight: bold;
}
.form-control[disabled].deleteLink {
	background-color: #d9534f;
}

/*
    #####################################################################
    #################### FACEBOOK & TWITTER & GOOGLE ####################
    #####################################################################
*/
.btn-facebook{
	padding: 5px 20px;
	background: #3b5998;
	color: #FFF;
	border: 2px solid #3b5998;
}
.btn-facebook:hover{
	background: #FFF;
	color: #3b5998;
}
.btn-twitter{
	padding: 5px 20px;
	background: #1b95e0;
	color: #FFF;
	border: 2px solid #1b95e0;
}
.btn-twitter:hover{
	background: #FFF;
	color: #1b95e0;
}
.btn-google{
	padding: 5px 20px;
	background: #d91e00;
	color: #FFF;
	border: 2px solid #d91e00;
}
.btn-google:hover{
	background: #FFF;
	color: #d91e00;
}
.fb_iframe_widget{
	vertical-align: text-bottom !important;
}
.twitter-share-button{
	vertical-align: text-bottom !important;
}

/*
    #####################################################################
    ############################### ACCUEIL #############################
    #####################################################################
*/
.bulle{
	padding: 50px 40px;
	text-align: center;
	color: #000000;
	color: var(--color-black);
	background: #FFFCBC;
	background: var(--color-yellow);
	border-radius: 220px / 120px;
	box-shadow: 0 0 5px rgba(160, 210, 51, .5);
}
.bulle a:not(.btn):hover{
	color: #A0D233;
	color: var(--color-green);
}

/*
    #####################################################################
    ############################### PROFIL ##############################
    #####################################################################
*/
#nav-profil.nav-tabs > li.active > a, #nav-profil.nav-tabs > li.active > a:focus, #nav-profil.nav-tabs > li.active > a:hover{
	background: #A0D233;
	background: var(--color-green);
	color: #8B4513;
	color: var(--color-brown);
}
#nav-profil.nav-tabs > li > a:hover{
	background: #A0D233;
	background: var(--color-green);
	color: #8B4513 !important;
	color: var(--color-brown) !important;
}

/*
    #####################################################################
    ############################## EDITEUR ##############################
    #####################################################################
*/
.phrase-editor{
	outline: none;
	background: white;
	color: black;
	padding: 5px;
	height: 32px;
}
#nav-editor{
	list-style: none;
	padding-left: 0;
}
#nav-editor a{
	color: black;
}
#nav-editor li{
	display: inline-block;
	margin: 0 5px;
}
#nav-editor li.active {
	border-top: 2px solid var(--color-brown);
}
#nav-editor li.active a{
	color: var(--color-brown)
}

/*
    #####################################################################
    ############################## COOKIES ##############################
    #####################################################################
*/
#cookieInfo{
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(33, 33, 33, 0.9);
	position: fixed;
	color: white;
	padding: 15px 0;
	font-size: 1.1em;
	z-index: 1000;
}
