{% extends "base_email.html.twig" %}

{% block content %}
	<p>
		<b>{{ pseudoExpediteur }}</b> ({% if app.user %}connecté{% else %}non connecté{% endif %}) à envoyé un formulaire de contact.<br>
	</p>
	Email : <b>{{ emailExpediteur }}</b><br>
	Message : <br>
	<hr>
	<p>
		{{ message | nl2br }}
	</p>
	<hr>
{% endblock %}