{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('assets/css/inscription.css') }}">
{% endblock %}

{% block contenu %}

    <h3>Formulaire d'inscription</h3>

    <div class="well" >
        {{ form(form) }}

    </div>



{% endblock %}