<div class="container-fluid" id="amb__id__">
	<div class="row">
		<label class="control-label required">__name__label__</label>
		<div id="phrase_add_motsAmbigus___name__" class="col-md-5">
			<label class="control-label required" for="phrase_add_motsAmbigus___name___valeur">Mot
					ambigu</label>
			<input type="text" id="phrase_add_motsAmbigus___name___valeur" name="phrase_add[motsAmbigus][__name__][valeur]" required="required" placeholder="Mot ambigu" class="form-control amb" disabled="disabled" value="(id : __id__)"/>
		</div>
		<div class="col-md-5">
			<label class="control-label required" for="phrase_add_motsAmbigus___name___gloses">Glose</label>
			{{ form_widget(select) }}
		</div>
		<div class="col-md-2">
			<label class="control-label required"></label>
			<div class="deleteLink"></div>
		</div>
	</div>
</div>